@charset "UTF-8";
@import "node_modules/bulma/bulma.sass";

html, body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  overflow:hidden;
}

.container-top {
  padding-top: 10px;
}

.table {
  background-color: #363636;
}

.table thead td, .table thead th {
    color: #d6d6d6;
}

.table th {
  color: #d6d6d6;
}

.table tr:hover {
    background-color: transparent;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .content p, .title, .subtitle {
    color: #e8e8e8;
}

.brand {
  user-select: none;
}

.nav-toggle:hover {
  background-color: #383737;
}
.nav-toggle span {
  background-color: #ababab;
}
.nav-toggle.is-active span {
  background-color: #ababab;
}
.nav {
  background-color: #363636;
}

.navbar-item, .navbar-link {
  color: #f5f5f5;
}
.navbar-link::after {
  border-color: #f5fe6f;
}

.navbar-item:hover, .navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
  background-color: transparent;
  color: #f5f5f5;
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
  background-color: transparent !important;
}

.navbar-dropdown a.navbar-item:hover {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

.navbar-dropdown:hover {
  background-color: #1a1a1a;
}
.navbar-dropdown {
  background-color: #363636;
  border-top: 1px solid #e0e869;
}

.label{
  color: hsl(0, 0%, 96%);
}

.navbar {
  background-color: #363636;
}

.input {
  background-color: hsl(0, 0%, 21%);
}

.nav-item a:not(.button).is-tab.is-active, a.nav-item:not(.button).is-tab.is-active {
    border-bottom: 1px solid #f5fe6f;
    color: #f5fe6f;
}
.nav-item a:not(.button).is-tab, a.nav-item:not(.button).is-tab {
    color: #fff;
}
.nav-item a:not(.button).is-tab:hover, a.nav-item:not(.button).is-tab:hover {
    border-bottom-color: #f5fe6f;
    color: #fff;
}

#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

.input, .textarea {
  height: 1.8em;
}

.wrapper {
  padding-top: 10px;
}

.render .field:not(:last-child) {
    margin-bottom: 0.4rem;
}

.tabs a {
  color: #eee;
}

.tabs.is-boxed a:hover {
  background-color: #363636;
  border-bottom-color: #dbdbdb;
}

.tabs a:hover {
    border-bottom-color: #363636;
    color: #ffffff;
}

.box {
  background-color: #233239;
}

.tile.is-ancestor {
  padding: 0 10px;
}

.input, .input:hover, .input.is-hovered, .textarea:hover, .textarea.is-hovered,
.input:hover, .input.is-hovered, .textarea:hover, .textarea.is-hovered,
.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus,
.textarea.is-focused, .textarea:active, .textarea.is-active {
  border-color: transparent;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: transparent;
}

input[type=range]:hover {
  border-color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgba(59,173,227,1);
  background: -moz-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(59,173,227,1)), color-stop(25%, rgba(87,111,230,1)), color-stop(51%, rgba(152,68,183,1)), color-stop(100%, rgba(255,53,127,1)));
  background: -webkit-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -o-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -webkit-grab;

  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-webkit-slider-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-webkit-slider-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-webkit-slider-thumb {
   border-color: rgb(255,53,127);
}

.range.blue::-moz-range-thumb {
   border-color: rgb(59,173,227);
}

.range.ltpurple::-moz-range-thumb {
   border-color: rgb(87,111,230);
}

.range.purple::-moz-range-thumb {
   border-color: rgb(152,68,183);
}

.range.pink::-moz-range-thumb {
   border-color: rgb(255,53,127);
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
    cursor: pointer;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

.field label {
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .wrapper {
    padding: 5px
  }
}
@media screen and (min-width: 769px) {
  .wrapper {
    padding: 5px
  }
}
@media screen and (max-width: 768px) {
  .nav-menu.nav-right {
    background-color: #1a1a1a;
    box-shadow: 0 4px 7px rgba(255, 255, 255, 0.1);
  }
  .nav-menu.nav-right .nav-item {
      border-top: transparent;
      padding: 0.75rem;
  }
}

.hide {
  display: none;
}

.modal-background.loading {
  background-image: url(resources/images/cover.png);
  background-size: cover;
  background-position: center -150px;
}

.modal-content.loading-text{
  color: #e0e0e0;
  text-shadow: 2px 2px 8px rgb(133, 154, 255);
  font-size: 2em;
}
